<ion-header>
  <inapp-navbar></inapp-navbar>
</ion-header>


<ion-content padding>
  <div class="content">
    <h3 class="title">New Expense</h3>
    <hr *ngIf="!mobile">
    <div class="phases">
      <edit-expense-phase-one *ngIf="phase === 1"
        [expenseCategory]="currentExpense.category"
        [description]="currentExpense.description"
        [dateTime]="currentExpense.dateTime"
        (desSubmit)="desSubmit($event)"
        >
      </edit-expense-phase-one>
      <edit-expense-phase-two *ngIf="phase === 2"
        [amountType]="amountType"
        [firstProfilePic]="firstProfilePic"
        [secondProfilePic]="secondProfilePic"
        [firstExpense]="currentExpense.firstExpense"
        [secondExpense]="currentExpense.secondExpense"
        (amountSubmit)="amountSubmit($event)"
        (goBack)="goBack()">
      </edit-expense-phase-two>
      <edit-expense-phase-three *ngIf="phase === 3"
        [firstUser]="firstUser"
        [secondUser]="secondUser"
        (goBack)="goBack()"
        [firstExpense]="currentExpense.firstExpense"
        [secondExpense]="currentExpense.secondExpense"
        [firstPaid]="currentExpense.firstPaid"
        [secondPaid]="currentExpense.secondPaid"
        [selectedPayType]="currentExpense.payType"
        (expenseSubmit)="expenseSubmit($event)">
      </edit-expense-phase-three>
    </div>
    
  </div>
</ion-content>
