expense-item {
  div.expense-item {
    cursor: pointer;
    margin: 10px 0;
    transition: opacity 1s ease;
    span {
      line-height: 50px;
      font-size: 2rem;
      &.mobile {
        line-height: 40px;
        font-size: 1.5rem;
      }
      &.description {
        margin-left: 10px;
      }
      &.amount {
        float: right;
      }
    }
  }
}
