category-icon {
  div.category-icon {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    &.mobile {
      width: 35px;
      height: 35px;
      border-radius: 12px;
    }
    margin: 2.5px;
    &.food {
      background-color: map-get($category-colors, food);
    }
    &.entertainment {
      background-color: map-get($category-colors, entertainment);
    }
    &.shopping {
      background-color: map-get($category-colors, shopping);
    }
    &.transit {
      background-color: map-get($category-colors, transit);
    }
    &.else {
      background-color: map-get($category-colors, else);
    }
    &.love {
      background-color: map-get($category-colors, love);
    }
    &.life {
      background-color: map-get($category-colors, life);
    }
    &.coffee {
      background-color: map-get($category-colors, coffee);
    }
    &.rent {
      background-color: map-get($category-colors, rent);
    }
    &.gift {
      background-color: map-get($category-colors, gift);
    }
    &.button {
      cursor: pointer;
    }
    &.selected {
      border: solid 3px #414141;
    }
    float: left;
    // display: inline-block;
  }
}
