page-new-expense {
  div.content {
    color: map-get($colors, stats-text);
    width: 70%;
    @media (max-width: $sm-screen) {
      width: 100%;
    }
    max-width: 600px;
    margin: auto;
    padding-top: 40px;
    h3.title {
      text-align: center;
    }
    hr {
      border-color: map-get($colors, stats-text);
      background-color: map-get($colors, stats-text);
    }
    p.day-time {
      font-size: 1.8rem;
    }
    category-icon {
      margin-right: 10px;
    }
    
    div.phase-2 {
      width: 50%;
      @media (max-width: $sm-screen) {
        width: 100%;
      }
      margin: auto;
      padding-top: 30px;
      div.bottom-buttons {
        display: flex;
        button {
          width: 50%;
        }
      }
      button.round-btn {
        margin-bottom: 30px !important;
      }
      ion-col {
        position: relative;
        input {
          position: absolute;
          top: 50%; 
          left: 50%;
          transform: translate(-50%,-50%);
          margin-bottom: 0;
        }
      }
    }
    div.phase-3 {
      width: 50%;
      @media (max-width: $sm-screen) {
        width: 100%;
      }
      margin: auto;
      padding-top: 30px;
      div.bottom-buttons {
        display: flex;
        button {
          width: 50%;
        }
      }
      button.round-btn {
        margin-top: 30px;
      }
    }
  }
}
