page-new-expense {
  div.content {
    div.categories {
      margin-bottom: 10px;
      display: inline-block;
      width: 100%;
    }
    color: map-get($colors, stats-text);
    width: 70%;
    @media (max-width: $sm-screen) {
      width: 100%;
    }
    max-width: 600px;
    margin: auto;
    padding-top: 40px;
    h3.title {
      text-align: center;
    }
    hr {
      border-color: map-get($colors, stats-text);
      background-color: map-get($colors, stats-text);
    }
    p.day-time {
      font-size: 1.8rem;
    }

    div.phase-1 {
      transition: opacity 1s ease;
      h3.category {
        font-size: 1.8rem;
        text-transform: capitalize;
        span {
          text-transform: capitalize;
        }
      }
    }
    
    div.phase-2 {
      transition: opacity 1s ease;
      width: 50%;
      @media (max-width: $sm-screen) {
        width: 100%;
      }
      margin: auto;
      padding-top: 30px;
      div.phase-2-sections {
        margin-bottom: 30px;
      }
      div.bottom-buttons {
        display: flex;
        button {
          width: 50%;
        }
      }
      button.round-btn {
        margin-bottom: 30px !important;
      }
      ion-col {
        position: relative;
        img {
          width: 70%;
          margin-left: 15%;
        }
        ion-input {
          position: absolute;
          top: 50%; 
          left: 50%;
          transform: translate(-50%,-50%);
          margin-bottom: 0;
        }
      }
    }
    div.phase-3 {
      transition: opacity 1s ease;
      width: 50%;
      @media (max-width: $sm-screen) {
        width: 100%;
      }
      margin: auto;
      padding-top: 30px;
      div.bottom-buttons {
        margin-top: 30px;
        display: flex;
        button {
          width: 50%;
        }
      }
      button.round-btn {
        margin-bottom: 30px;
      }
    }
  }
}
