<ion-header>

  <inapp-navbar></inapp-navbar>

</ion-header>


<ion-content padding>
  <div class="content">
    <h3 class="title">New Expense</h3>
    <hr *ngIf="!mobile">
    <div *ngIf="mobile">
      <br><br><br>
    </div>
    <div *ngIf="phase === 1" class="phase-1" [ngStyle]="{'opacity': opacity}">
      <radio-button [selected]="together" (click)="together = true">Together</radio-button>
      <radio-button [selected]="!together" (click)=" together = false">Personal</radio-button>
      <br><br>
      <p class="day-time">{{time.getCurrentTime('day')}}</p>
      <div class="categories">
        <category-icon *ngFor="let et of expenseTypes"
          [button]="true" [category]="et"
          [selected]="expenseCategory === et"
          (click)="expenseCategory = et"
          >
        </category-icon>
      </div>
      <h3 class="category">category: <span>{{expenseCategory}}</span></h3>
      <form [formGroup]="desForm" (ngSubmit)="desSubmit()">
        <span class="form-errors"
          *ngIf="desForm.get('description').invalid && submitTried">
          * Description is required
        </span>
        <ion-input placeholder="Description" formControlName="description"></ion-input>
        <button class="round-btn" ion-button color="wiple-blue" full>
          Continue
        </button>
      </form>
    </div>
    <div class="phase-2" *ngIf="phase === 2" [ngStyle]="{'opacity': opacity}">
      <form [formGroup]="amountForm" (ngSubmit)="amountSubmit()">
        <button class="round-btn" ion-button color="wiple-light-pink" full (click)="amountType='same'" type="button">
          Same Amount Each
        </button>
        <div *ngIf="amountType === 'same'" formGroupName="same" class="phase-2-sections">
          <span class="form-errors"
            *ngIf="amountForm.get('same.sameAmount').invalid && amountSubmitTried">
            * This field is required
          </span>
          <ion-input placeholder="Total amount" formControlName="sameAmount" type="number"></ion-input>
          <!-- <input type="number" placeholder="Total amount" formControlName="same-amount"> -->
        </div>
        <button class="round-btn" ion-button color="wiple-light-pink" full (click)="amountType='diff'" type="button">
          Different Amount
        </button>
        <div *ngIf="amountType === 'diff'" formGroupName="diff" class="phase-2-sections">
          <span class="form-errors"
            *ngIf="amountForm.get('diff.amountFirst').invalid && amountSubmitTried">
            * This field is required
          </span>
          <ion-row>
            <ion-col col-3>
              <img [src]="firstProfilePic" alt="" class="photo">
            </ion-col>
            <ion-col col-9 offset>
              <ion-input placeholder="Amount" formControlName="amountFirst" type="number"></ion-input>
            </ion-col>
          </ion-row>
          <span class="form-errors"
            *ngIf="amountForm.get('diff.amountSecond').invalid && amountSubmitTried">
            * This field is required
          </span>
          <ion-row>
            <ion-col col-3>
              <img [src]="secondProfilePic" alt="" class="photo">
            </ion-col>
            <ion-col col-9 offset>
              <ion-input placeholder="Amount" formControlName="amountSecond" type="number"></ion-input>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="amountType" class="bottom-buttons">
          <button class="round-btn" ion-button color="light" type="button" (click)="handleBackClick()">
            Back
          </button>
          <button class="round-btn" ion-button color="wiple-blue" type="submit">
            Continue
          </button>
        </div>
        
      </form>
    </div>  
    <div class="phase-3" *ngIf="phase === 3" [ngStyle]="{'opacity': opacity}">
      <button class="round-btn" ion-button [color]="getPhase3ButtonColor('allpay')" full (click)="payType='allpay'">
        All paid
      </button>
      <button class="round-btn" ion-button [color]="getPhase3ButtonColor('firstpay')" full (click)="payType='firstpay'">
        {{firstUser ? firstUser.displayName+' paid first' : ''}}
      </button>
      <button class="round-btn" ion-button [color]="getPhase3ButtonColor('firsttreat')" full (click)="payType='firsttreat'">
        {{firstUser ? firstUser.displayName+' treated' : ''}}
      </button>
      <button class="round-btn" ion-button [color]="getPhase3ButtonColor('secondpay')" full (click)="payType='secondpay'">
        {{secondUser ? secondUser.displayName+' paid first' : ''}}
      </button>
      <button class="round-btn" ion-button [color]="getPhase3ButtonColor('secondtreat')" full (click)="payType='secondtreat'">
        {{secondUser ? secondUser.displayName+' treated' : ''}}
      </button>
      <div class="bottom-buttons">
        <button class="round-btn" ion-button color="light" type="button" (click)="handleBackClick()">
          Back
        </button>
        <button class="round-btn confirm-btn" ion-button color="wiple-blue" full (click)="saveExpense()">
          Confirm
        </button>
      </div>
    </div>  
  </div>
</ion-content>
