<div class="pc-stats" #content [ngStyle]="{'maxHeight': contentHeight+'px'}">
  <h3 class="title">Expense</h3>
  <ng-datepicker [(ngModel)]="dateTime" [options]="datepickerOptions" (ngModelChange)="switchType()"></ng-datepicker>
  <div class="segment">
    <div class="buttons">
      <button (click)="switchType('year')" [ngClass]="{'selected': timeInterval === 'year'}">Year</button>
      <button (click)="switchType('month')" [ngClass]="{'selected': timeInterval === 'month'}">Month</button>
      <button (click)="switchType('day')" [ngClass]="{'selected': timeInterval === 'day'}">Day</button>
    </div>
  </div>
  <h3 class="total">Total: <span class="animation" [ngStyle]="{'opacity': amountCaculated}">$ {{totalAmount}}</span></h3>
  <hr>
  <div class="expenses" #expensesArea>
    <div *ngIf="timeInterval==='day'">
      <expense-item *ngFor="let e of expenses"
        [expense]="e">
      </expense-item>
    </div>
    <div *ngIf="timeInterval!=='day'">
      <stats-content [parentDiv]="parentDiv" [expenses]="expenses"></stats-content>
    </div>
  </div>
</div>
  