<ion-header>

  <ion-navbar>
    <ion-title>Wiple</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="signinup">
  <h3 class="page-title">Sign in</h3>
  <ion-row>
    <ion-col col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3>
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="error-div" *ngIf="errorMessage">
          <span class="error-message">
            Incorrect email or password
          </span>
        </div>
        <label for="email">Email</label>
        <span class="form-errors"
          *ngIf="signinForm.get('email').invalid && submitTried">
          * Invalid email
        </span>
        <ion-input id="email" formControlName="email" autofocus></ion-input>
        <label for="password">Password</label>
        <span class="form-errors"
          *ngIf="signinForm.get('password').invalid && submitTried">
          * Invalid password
        </span>
        <ion-input id="password" type="password" formControlName="password"></ion-input>
        <button class="round-btn" ion-button color="wiple-blue" full type="submit">
          Signin
        </button>
        <div class="switch-sign-div">
          Need an account? <span (click)="goSignup()">Sign up</span>.
        </div>
        <div class="switch-or-div" >
          OR
        </div>
      </form>
      
      <button class="round-btn" ion-button icon-start color="facebook" full (click)="signinWithFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
        Signin with facebook
      </button>
    </ion-col>
  </ion-row>
</ion-content>
