// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app {
  font-family: 'Lato', sans-serif !important;
}

ion-header {
  .toolbar-background {
    background-color: map-get($colors, primary);
  }
  .toolbar button {
    color: map-get($colors, wiple-text) !important;
  }
  :lang(en) ion-title .toolbar-title {
    font-family: 'Caveat Brush', cursive;
    color: map-get($colors, wiple-text) !important;
  }
  .toolbar-title-ios {
    font-size: 2.6rem;
  }
  .toolbar-title-md {
    font-size: 3.2rem;
  }
}
ion-content {
  h3.page-title {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 6rem;
    text-align: center;
    color: map-get($colors, wiple-text);
  }
  @media (max-width: $sm-screen) {
    h3.page-title {
      font-size: 5rem;
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }
  :lang(en) h3.page-title {
    font-family: 'Caveat Brush', cursive;
  }
  :lang(zh-Hant) h3.page-title {
    font-size: 1px;
  }
  
}


input[type=text], input[type=password], input[type=number] {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1;
  border-radius: 18px;
  border: 0.8px solid #B1B1B1;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  &::-webkit-input-placeholder {
    color: #d8d7d7;
  }
}

label {
  color: #B1B1B1;
  font-size: 1.8rem;
  line-height: 1.6;
}

button.round-btn {
  margin-bottom: 16px !important;
  border-radius: 18px !important;
  text-transform: none !important;
}

span.form-errors {
  color: map-get($colors, danger);
}

ion-content.signinup {
  ion-row {
    div.error-div {
      padding: 20px;
      background-color: #ffdbdb;
      border-radius: 18px;
      margin-bottom: 16px;
      span.error-message {
        color: map-get($colors, danger);
      }
    }

    div.switch-sign-div {
      font-size: 1.7rem;
      margin-bottom: 16px;
      span {
        color: map-get($colors, wiple-blue);
        cursor: pointer;
      }
      span:hover {
        text-decoration: underline;
      }
    }

    div.switch-or-div {
      text-align: center;
      margin-bottom: 16px;
    }
  }
}

ion-menu {
  div.scroll-content {
    background-color: map-get($colors, wiple-light-pink);
    
  }
  .item {
    background-color: map-get($colors, wiple-light-pink) !important;
    ion-icon {
      font-size: inherit !important;
      width: 20px;
    }
  }
  ion-footer {
    .item-inner {
      border-bottom: none !important;
    }
  }
}

img.photo {
  border-radius: 50%;
  width: 100%;
}

input[_ngcontent-c0] {
  margin-bottom: 20px;
}
.ngx-datepicker-calendar-container {
  z-index: 100;
}