<div class="content">
  <h3 class="title">Expense</h3>
  <p class="subtitle">{{time.getCurrentTime(timeInterval)}}</p>
  <div class="segment">
    <div class="buttons">
      <button (click)="switchType('year')" [ngClass]="{'selected': timeInterval === 'year'}">Year</button>
      <button (click)="switchType('month')" [ngClass]="{'selected': timeInterval === 'month'}">Month</button>
      <button (click)="switchType('day')" [ngClass]="{'selected': timeInterval === 'day'}">Day</button>
    </div>
  </div>
  <h3 class="total">Total: <span class="animation" [ngStyle]="{'opacity': amountCaculated}">{{totalAmount}}</span></h3>
  <hr>
</div>
