<ion-navbar>
  <button ion-button menuToggle *ngIf="mobile">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Wiple</ion-title>
  <ion-buttons *ngIf="!mobile" end>
    <span *ngIf="couple">
      <button ion-button icon-only>
        <ion-icon ios="logo-usd" md="logo-usd"></ion-icon>
      </button>
      <button ion-button icon-only (click)="handleNewExpenseClick()">
        <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
      </button>
    </span>
    <button ion-button icon-only (click)="handleProfileClick($event)">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons *ngIf="mobile && couple" end>
    <button ion-button icon-only>
      <ion-icon ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>